@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "avantn";
  src: url("./assets/font/AVANTN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "avantn", sans-serif, serif;
  font-size: calc(1.88679vw);
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #eb5939;
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.glowing-text {
  perspective: 800px;
  transform-style: preserve-3d;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}